<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>We make a living by what we get, but we make a life by what we give</string>
		<key>Date</key>
		<string>02-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
	<dict>
		<key>quoteOfTheDay</key>
		<string>Vision is the art of seeing </string>
		<key>Date</key>
		<string>01-01</string>
	</dict>
</array>
</plist>
